.banner {
    background: var(--azul-degrade);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5em 2em;

}

.banner__title {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;

}

.banner__pesquisa:placeholder-shown {
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;

    text-align: center;
    color: var(--cor-branco);

    background: url('../img/lupinha.png')no-repeat;
    background-position: 1em;


}

@media screen and (min-width: 1024px) {
    .banner__title{
        font-size: 36px;
    }
    .banner__pesquisa{
        width: 75%;
    }
    .banner__pesquisa:placeholder-shown {
        background-position: 15em;

    }
}