.carrocel__titulo {
    color: var(--laranja);
    background-color: var(--cor-branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    /*Jogar as bolinhas pra cima*/
    margin: 0.5em 0;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__itens {
    margin: 0 0.5em;
}

.botões__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    /*Lembrando que o padding define o tamanho do "box", do elemento, do centro a te a borda externa, e o margin define da borda externa ate o margin do proximo elemento*/
    color: var(--cor-branco);
    font-weight: 700;
    text-decoration: none;


}

.card {
    background: var(--cor-branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;

}

.descrição__title {
    color: var(--laranja);
    font-weight: 700;
}

.descrição__title_book {
    color: var(--cor-azul);
    font-size: 18;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__text {
    font-size: 14;
    font-weight: 400;
}



@media screen and (min-width: 1024px) {
    .carrocel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
        /* o espaço entre as bolinhas */
    }

    .swiper {
        width: 60%;
        /* a caixa do carroceal */
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }
    .card{
        width: 45%;
        margin:  2em auto;
        /* que bizu massa... o auto centraliza o bloco */
    }

}